.span12.box
  .span10
    %img{ src: "images/shared/octocats.png" }
    %center
      %h1 Who's gonna merge?
    .span4.box-mini
      %form{ action: '/aleaiactaest' }
        %p
          .control-group
            %label
              Repo:
            %input{ class: 'span2' }
            %label
              PR #
            %input{ class: 'span2' }
        %p
          %button{ type: 'submit', class: 'btn btn-large'} Ask Oraclocat

    .span4.box-mini
      - if @merger
        %h4 Oraclocat says:
        %h2 #{@merger} will merge your Pull Request!
      - else
        %h2 Ask Oraclocat!
