!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %link{:rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon" }
    %link{href: "/stylesheets/bootstrap.css", rel: "stylesheet"}
    %link{href: "/stylesheets/oraclocat.css", rel: "stylesheet"}
    %title Oraclocat
  %body
    = yield
