.span12
  %center
    %h2 Choose your organization
    %div{ class: 'btn-group'}
      - current_user.orgs.each do |org|
        %a{ href: "/orgs/#{org.login}", class: 'btn', title: org.login }
          %img{ src: org.avatar_url, class: 'img-rounded', width: 80, height: 80 }


