.span10.box
  %a{ href: '/' }
    %img{ src: '/images/shared/octocats.png' }
  %dl
    - @issues.each do |issue|
      %div{ class: 'alert alert-info' }
        %dt= issue['title']
        %dd
          = issue['repository']['full_name']
          = issue['assignee']
  %small
    © Absolventa GmbH 2013-2014
